<!-- <ul>
    <li *ngFor="let course of courses">Title: {{course.title}} - Summary: {{course.summary}}</li>
</ul> -->

<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;" *ngFor="let course of courses">
            <img src="../../assets/saanvi.png" class="card-img-top" alt="Some Image"/>
            <div class="card-body">
              <h5 class="card-title">{{course.title}}</h5>
              <p class="card-text">{{course.summary}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>

