<!-- 
<app-view-employees></app-view-employees> -->
<!-- <app-view-courses></app-view-courses> -->


<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/viewemployee" routerLinkActive="active" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addemployee" routerLinkActive="router-link-active">Add Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/courses" routerLinkActive="router-link-active">View Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/survey/view" routerLinkActive="router-link-active">View Survey</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/survey/add" routerLinkActive="router-link-active">Add Survey</a>
    </li>
   
  </ul> 

<router-outlet></router-outlet>


