
 <div class="input-group mb-3">

  <input type="text" #searchname (keyup)="0" class="form-control" placeholder="Search By Name">

</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeService.employees | searchName: searchname.value | sortSalary: 1 : 34: 45: 34">
        <th scope="row">{{i+1}}</th>
        <td>{{employee.id}}</td>
        <td><a [routerLink]="['/details', employee.id]">{{employee.name}}</a></td>
        <td>{{employee.salary}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)"> X </button></td>
      </tr>
     
    </tbody>

   

  </table>

 <hr/>

 <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Search Id</span>
  </div>
  <input type="number" #id class="form-control" placeholder="Enter a valid id" aria-label="Username" aria-describedby="basic-addon1">
  <button class="btn btn-primary" (click)="searchEmployee(id.value)">Search</button>
</div>